header {
  position: absolute;
  width: 100%;
  z-index: 4;
}

.header-wrapper {
  display: flex;
  background-color: Transparent;
  background-repeat: no-repeat;
  justify-content: space-between;
  height: 10vh;
  border: none;
  align-items: center;
  padding: 0 1vw;
  overflow: hidden;
  outline: none;
}

.header-wrapper div:last-child {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo img{
  width: 50px;
  height: 50px;
}

.logo h1{
  color: #ffffff;
  font-family: sans-serif;
  padding-left: 10px;
  outline: none;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logout , .user{
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  padding-right: 2vw;
}


#lang {
  transform: translate(-50%, -50%);
  margin-top: 6vh;
}

#lang select {
  background-color: #25619F;
  color: white;
  padding: 5px;
  width: 150px;
  height: 35px;
  border: none;
  font-size: 20px;
  appearance: button;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
}
#lang select option {
  padding: 30px;
}

.search.bar {
  display: block;
  color: #ffffff;
  border: none;
  border-bottom: 3px solid #ffffff;
  background-color: Transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  width: 10vw;
  font-size: 18px;
  transition: width 0.2s ease-in-out;
}

.search.bar:focus{
  width: 20vw;
}

.search.bar::placeholder {
  opacity: 0.4;
  font-size: 18px;
  font-family: sans-serif;
  color: #ffffff;
}

.search.btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: Transparent;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  background: url(./assets/search-white-18dp.svg) no-repeat center center;
  background-size: 30px;
}

.country-cards {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}