.cards-wrapper{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-end;
}

a {
  text-decoration: none;
}

.Cards {
  width: 100%;
  height: 100%;
  list-style-type: none;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  z-index: 0;
}

.slide {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  position: absolute;
  transform: translateX(calc(-100% * var(--offset)));
  transition: transform 0.5s ease-in-out ;
  width: 100%;
  height: 100%;
  background-position:center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 2;
}

.slide[data-active] {
  box-shadow:inset 0px 0px 85px rgba(0,0,0,1); 
}

.country-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
}

.country-title {
  font-size: 100px;
  font-family: sans-serif;
  font-weight: 800;
}


.explore-btn{
  display: flex;
  width: 150px;
  height: 60px;
  background-color: #25619F;
  border: none;
  outline: none;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0 20px;
  color: #ffffff;
  font-size: 19px;
  font-family: sans-serif;
}

.explore-btn img {
  width: 30px;
  height: 30px;  
}

.country-description{
  font-size: 16px;
  font-family: sans-serif;
}

.explore-btn:hover{
  box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 1), 2px 2px 5px rgba(255, 255, 255, 1);
}



.cards-buttons {
  position: absolute;
  padding-bottom: 10vh;
}

.cards-buttons button:first-child {
  background: url(../assets/keyboard_arrow_left-white-18dp.svg) no-repeat center center;
  background-size: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: #25619F;
  outline: none;
  cursor: pointer;
}
.cards-buttons button:last-child {
  background: url(../assets/keyboard_arrow_right-white-18dp.svg) no-repeat center center;
  background-size: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: #25619F;
  outline: none;
  cursor: pointer;
}

.cards-buttons > button:hover {
  opacity: 1;
  box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 1), 2px 2px 5px rgba(255, 255, 255, 1);
}

